<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="public\styles\styles.css">
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/newpost" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>